@model Day02.Models.Student

@{
    ViewData["Title"] = "ShowDetails";
}

<h1>Student Details:</h1>

@if (Model == null)
{
    <div class="alert alert-warning mt-3">No student found with the given ID.</div>
}
else
{

    <br>
    <h5>ID: </h5>
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h6>@Model.Id</h6>
        </div>
    </div>

    <br>
    <h5>Name: </h5>
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h6>@Model.Name</h6>
        </div>
    </div>

    <br>
    <h5>Age: </h5>
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h6>@Model.Age</h6>
        </div>
    </div>
    
    <br>
    <h5>Department:</h5>
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            @if (@Model.Department == null) 
            {
                <h6>N/A</h6> 
            }
            else
            {
                <h6>@Model.Department.Name </h6>
            }
        </div>
    </div>
}
